<footer class="footer">
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2023. All rights reserved Group 11.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div class="social">
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->

    <div class="_3JarX">
      <div class="spn">{{footerText}}</div>
      <div class="imgDiv">
        <a class="a" href="https://itunes.apple.com/" rel="noopener noreferrer" target="_blank"><img
            alt="Download MTS iOS app"
            src="https://pwebassets.paytm.com/commonwebassets/paytmweb/footer/images/downloadApple.svg"></a>
        <a class="a" href="https://play.google.com/store/apps" rel="noopener noreferrer" target="_blank"><img
            alt="Download MTS Android app"
            src="https://pwebassets.paytm.com/commonwebassets/paytmweb/footer/images/downloadGoogle.svg"></a>
      </div>
    </div>
  </div>
</footer>