<div class="container box-shadow">
  <div>
    <p>
      Hi {{name}} welcome to Money Transfer System. <br>
      You can get your statement
      <a routerLink="/statement">here</a>
    </p>
  </div>
</div>



<div class="container">
  <!-- Tabs navs -->
  <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link bg-primary" id="ex1-tab-1" data-mdb-toggle="tab" routerLink="/statement/top10" role="tab"
        aria-controls="ex1-tabs-1" aria-selected="true">Top 10 Transaction</a>
    </li>
    <li class="nav-item" role="presentation">
      <a (click)="statementComponent.getCurrentMonthTransaction()" class="nav-link bg-primary" id="ex1-tab-2"
        data-mdb-toggle="tab" routerLink="/statement/curr" role="tab" aria-controls="ex1-tabs-2"
        aria-selected="false">Current month Transactions</a>
    </li>
    <li class="nav-item" role="presentation">
      <a (click)="lastToggleDivAndTranc()" class="nav-link bg-primary" id="ex1-tab-3" data-mdb-toggle="tab" role="tab"
        aria-controls="ex1-tabs-3" aria-selected="false" style="color: white;">Last 1 or 3 month Transactions</a>
    </li>
    <li class="nav-item" role="presentation">
      <a (click)="betweenToggleDivAndTranc()" class="nav-link bg-primary" id="ex1-tab-4" data-mdb-toggle="tab"
        role="tab" aria-controls="ex1-tabs-4" aria-selected="false" style="color: white;">Between date range</a>
    </li>

    <li class="nav-item" role="presentation">
      <a routerLink="/transaction" class="nav-link bg-primary" id="ex1-tab-4" data-mdb-toggle="tab" role="tab"
        aria-controls="ex1-tabs-4" aria-selected="false" style="color: white;">Send Money</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link bg-primary" style="color: white;">
        Last Login: {{lastActivityDate | date}} , {{lastActivityDate | date:'shortTime'}}
      </a>
    </li>

  </ul>
  <!-- Tabs navs -->

  <!-- Tabs content -->
  <div class="tab-content" id="ex1-content" [hidden]="!showTranc">
    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
      <div class="container tbl">
        <table id="statement-table" class="table">
          <thead>
            <tr>
              <th>Transaction Id</th>
              <th>Transaction Type</th>
              <th>Transfer Type</th>
              <th>Transaction Amount</th>
              <th>Opening Balance</th>
              <th>Closing Balance</th>
              <th>Transaction Date</th>
              <th>Transaction Timestamp</th>
              <th>Account Number</th>
              <!-- <th>User Id</th> -->
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let statement of statements">
              <td>{{statement.transactionId}}</td>
              <td>{{statement.transactionType}}</td>
              <td>{{statement.transferType}}</td>
              <td>₹{{statement.transactionAmount}}</td>
              <td>₹{{statement.openingBalance}}</td>
              <td>₹{{statement.closingBalance}}</td>
              <td>{{statement.transactionDate | date}}</td>
              <td>{{statement.transactionTimestamp | date:'shortTime'}} </td>
              <td>{{statement.accountNumber}}</td>
              <!-- <td>{{statement.userId}}</td> -->
              <td>{{statement.comments}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div [hidden]="!showDiv">
    <a class="nav-link bg-primary" id="ex1-tab-3" data-mdb-toggle="tab" role="tab" aria-controls="ex1-tabs-3"
      aria-selected="false" style="color: white; width: 17%;" routerLink="/statement/1">Last 1 month Transactions</a>
    <br>
    <a class="nav-link bg-primary" id="ex1-tab-3" data-mdb-toggle="tab" role="tab" aria-controls="ex1-tabs-3"
      aria-selected="false" style="color: white; width: 17%;" routerLink="/statement/3">Last 3 month Transactions</a>
  </div>

  <div class="container " [hidden]="!showDiv2" style="padding-left: 3px;">
    <div class="input-group mb-3 border border-primary" style="width: 415px;">
      <input type="text" class="form-control" placeholder="To Date" aria-label="To Date" aria-describedby="basic-addon2"
        name="toDate" [(ngModel)]="toDate">
      <div class="input-group-append">
        <span class="input-group-text border border-primary" id="basic-addon2"
          style="background-color: #007bff;; color: white;">MM-dd-yyyy</span>
      </div>
    </div>

    <div class="input-group mb-3 border border-primary" style="width: 415px;">
      <input type="text" class="form-control" placeholder="From Date" aria-label="From Date"
        aria-describedby="basic-addon2" name="fromDate" [(ngModel)]="fromDate">
      <div class="input-group-append">
        <span class="input-group-text border border-primary" id="basic-addon2"
          style="background-color: #007bff;; color: white;">MM-dd-yyyy</span>
      </div>
    </div>

    <button (click)="routeIt()" class="btn btn-primary">Get Now</button>

  </div>

</div>

<!-- Tabs content -->