.nav-link{
    color: white;
}
.nav-item{
    padding: 4px;
}

.box-shadow {
    font-family: cursive, sans-serif;
    padding: 10px;
    
  }

.tbl{
    font-size: smaller;
    border: solid 2px;
  }

  .actv{
    height: 48px;
    color: white;
    width: 300px;
    margin-left: 909px;
    border: solid;
  }

  .name{
    margin-right: 588px;
    border: solid;
  }
  