@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@import url(https://kit.fontawesome.com/a076d05399.js);
@import url(https://cdn.jsdelivr.net/npm/angular-material/angular-material.min.css);
@import url(https://cdn.jsdelivr.net/npm/angular-material/angular-material.min.js);
